{% extends 'base.html.twig' %}

{% block body %}

<h4>Films de la catégorie {{ categorie.name|capitalize }}</h4>
		<div class="cards">
        {% if films is empty %}
            <p>Aucun film n'a été trouvé</p>
        {% else %}
			{% for film in films %}
				<div class="card">
				{% if film.cover %}
					<img src="data:{{ film.coverType }};base64,{{ film.cover }}" alt="{{ film.title }}">
					{% else %}
						<img src="{{ asset('images/default.jpeg') }}" alt="{{ film.title }}" style="object-position: center;">
					{% endif %}
                    <div class="card__content">
                        <h5>{{ film.title }}</h5>
												<p>{{ film.categorie.name }}</p>
                        <p>{{ film.description }}</p>
                        <a href="{{ path('film', {
													'categorie': film.categorie.name,
													'movie': film.title|replace({' ': '-'}),
													'id': film.id,
												}) }}">Voir plus</a>
                    </div>
				</div>
			{% endfor %}
        {% endif %}
		</div>
{% endblock %}
