{% for cat in categories %}
    <{{type}} {{ value == cat.name|capitalize ? 'selected' : ''}}>
      <a href="{{ path('categorie_films', {
        'categorie': cat.name|lower|replace({' ': '-'}),
      }) }}">{{ cat.name|capitalize }}</a>
    </{{type}}>
{% endfor %}