<nav>
	<h3><a href="{{ path('home') }}">Vidéotheque</a></h3>
  <span>Il y a {{ render(controller('App\\Controller\\MovieController::qte')) }} films dans la vidéothèque</span>
	<div class="nav__items">
    <div class="categorie">
      <span>Catégories</span>
      <ul class="categorie__items">
        {{ render(controller('App\\Controller\\HomeController::categories',{'type': 'li'})) }}
      </ul>
    </div>
    <a href="{{ path('search') }}">Recherche</a>
    <a href="{{ path('nouveau_film') }}">Nouveau film</a>
  </div>
</nav>
